:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  /* # are specific to choosing a div id vs a . which chooses a grid class */
  #grid-container {
    display: grid;

    /* populate rows and columns of the page with div elements */
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    
    /* define the borders of the grid */
    height: 600px;
    width: 600px;
  }
  
  /* defines the boxes of the grid with border */
  .grid-item {
    padding: 1px;
    border: 1px solid;
    border-color: #d3d3d3;
    text-align: center;
  }

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    transition:ease-in;
    background-color: black;
  }

  .grid-item:hover {
    background-color: black;
  }

#rgb-btn {
  width: 125px;
  text-align: center;
}

/* situate the grid within a div element to move in flexbox */  
.grid-wrapper {
  display: flex;
  justify-content: center;
  margin: 100px;
}